<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hot Drop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="header">
        <p class="heading">Hot Drop</p>
        <p class="subhead">File sharing made easy</p>
        <h2>File uploaded successfully <i class="fa-regular fa-circle-check tick-icon"></i></h2>
    </div>

    <div style="width:fit-content">
        <input id="content" readonly value="<%=downloadLink%>">
        <i class="fa-regular fa-copy"></i>
        <br>
        <h2>OR</h2>
    </div>
    <form action="/files/send" method="POST" class="form2">
        <div>Send via email</div>
        <input type="email" id="emailFrom" name="emailFrom" placeholder="From" required>
        <input type="email" id="emailTo" name="emailTo" placeholder="To" required>
        <input type="hidden" name="uuid" value="<%=uuid%>">
        <button type="submit">Send</button>
    </form>
    <script>
        const cpy = document.querySelector('.fa-copy');
        const link = document.querySelector('#content');
        cpy.addEventListener('click', function (e) {
            e.preventDefault();
            link.select();
            document.execCommand("copy");
        });
    </script>
</body>

</html>