<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hot Drop</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
</head>

<body>
    <div class="header">
        <p class="heading">Hot Drop</p>
        <p class="subhead">File sharing made easy</p>
    </div>
    <form  action="/fileupload" method="POST" class="drag-area form" enctype="multipart/form-data">
        <input required id="file" type="file" name="myfile">
        <i class="fas fa-cloud-upload"></i>
        <h2 class="uploading">Drag your files here or Click here</h2>
        </div>
        <button id="btn" type="submit">Upload</button>
    </form class="form">
    <script>
        const btn = document.getElementById("btn");
        const file = document.getElementById("file");
        const uploading = document.querySelector(".uploading");
        btn.addEventListener('click', function () {
            if (file.files.length != 0) {
                uploading.innerHTML = "Uploading...";
                btn.style.display = "none";
            }
        });
    </script>
</body>

</html>