@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

body {
  font-family: "Poppins", sans-serif;
  background: #5256ad;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  margin-bottom: 2vh;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-family: 'Bebas Neue', cursive;
  color: white;
  letter-spacing: 1.5px;
  word-spacing: 2px;
  font-size: 60px;
  margin: auto;
}

.subhead {
  font-family: cursive;
  color: whitesmoke;
  font-size: 25px;
  margin: 0 auto 10vh auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  margin: -100px auto 0 auto;
  width: clamp(200px, 90%, 500px);
  height: 200px;
  border: 4px dashed #fff;
}

.form h2 {
  text-align: center;
  color: #ffffff;
  font-family: Arial;
}

.form input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}

.form button{
  padding: 10px 25px;
  margin-top: 70px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.form button:hover {
  transform: scale(1.1);
}

.form button:active {
  border: 0;
}

.fa-cloud-upload {
  font-size: 90px;
  color: white;
  margin-top: 1.3rem;
}

.tick-icon{
  font-size: 50px;
  margin: 0;
}

#content{
  resize: none;
  width: min(55vw,400px);
  height: fit-content;
  border-radius: 5px;
  font-size: 1.2em;
}
h1, h2{
  text-align: center;
  color: hsl(237, 36%, 20%);
}
.form2{
  width: min(65vw,400px);
  padding: 1.2rem;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
  
}

.form2 div{
  color: hsl(237, 36%, 20%);
  font-weight: 600;
}

.form2 input{
  background: transparent;
  width: 90%;
  border: none;
  outline: none;
  height: 1.5rem;
  letter-spacing: 2px;
  box-shadow: -2px -2px 2px rgba(0, 0, 0, .1) inset;
  font-size: 1rem;
  margin-top: .7rem;
}
.form2 button{
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  background-color: teal;
  color: whitesmoke;
  border: none;

}
.fa-copy{
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}